﻿/*#region General */

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}

header {
    height: 7%;
    line-height: 50px;
    text-align: right;
    padding-right: 3%;
    background-color: red;
    border-bottom: 1px solid black;
}

header .glyphicon {
    font-size: 25px;
}

.body {
    height: 93%;
    max-height: 93%;
    background-color: blue;
    overflow-y: scroll;
}

/*#endregion */

/*#region Detalle producto */

.productDetail, .filter {
    position: absolute;
    width: 100%;
    height: 93%;
    background-color: orange;
}

.productDetail.active, .filter.active {
    max-height: 93%;
    overflow-y: auto;
}

.productDetail:not(.active), .filter:not(.active) {
    z-index: -1;
    max-height: 0;
    display: none;
}

/*#endregion */

/*#region Filtro*/

.body .filter .top {
    background-color: blue;
    text-align: center;
    font-size: 25px;
    border-bottom: 1px solid black;
    margin-bottom: 3%;
}

.body .filter .top {
    background-color: blue;
    text-align: center;
    font-size: 25px;
    border-bottom: 1px solid black;
    margin-bottom: 3%;
}

.body .filter .bottom {
    margin-bottom: 3%;
}

.body .filter .bottom img.filter-item {
    /*float: left;*/
    width: 50%;
}

.body .filter .bottom img.filter-item:not(.active) {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/*#endregion */

/*#region Productos*/

.body .product {
    width: 100%;
    height: 10%;
    background-color: green;
    border-bottom: 1px solid black;
    margin-bottom: 3%;
}

.body .product .left,
.body .product .middle,
.body .product .right {
    float: left;
    height: 100%;
}

.body .product .left {
    width: 20%;
}

.body .product .middle {
    width: 60%;
}

.body .product .right {
    width: 20%;
}

.body .product .right .top {
    height: 65%;
}

.body .product .right .bottom {
    height: 35%;
}

/*#endregion */