<!DOCTYPE html>
<html lang="es-ar" ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pedidos</title>

    <!--Css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css" />

    <!--Script-->
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="controllers/firebase.js"></script>
    <script src="controllers/app.js"></script>
</head>

<body ng-controller="controller">
    <header ng-click="load()">
        {{Products.length}} <span class="glyphicon glyphicon-{{ ShowFilter ? 'circle-arrow-left' : 'search' }}" aria-hidden="true" ng-click="ShowFilterFunc(!ShowFilter);"></span>
    </header>

    <div class="body">
        <div class="filter{{ ShowFilter ? ' active' : '' }}">
            <section ng-repeat="f in Filters">
                <div class="top">
                    {{ f.Name }}
                </div>

                <div class="bottom">
                    <img class="filter-item" src="{{fi}}" ng-repeat="fi in f.List" ng-click="ToggleActiveClass($event, f.Name, $index)" />
                </div>
            </section>
        </div>

        <div class="productDetail{{ SelectedProductModel != null ? ' active' : '' }}" ng-click="SelectedProduct(null);">
            {{ SelectedProductModel.Name }}
        </div>

        <div class="product" ng-repeat="p in Products | filter: Search" ng-click="SelectedProduct(p);">
            <div class="left">
                <img alt="{{ p.Name }}" src="https://via.placeholder.com/80x80" />
            </div>

            <div class="middle">
                {{ p.Name }}
            </div>

            <div class="right">
                <div class="top">
                    {{ p.Company }}
                </div>

                <div class="bottom">
                    {{ p.Price | currency : symbol : fractionSize }}
                </div>
            </div>
        </div>
    </div>
</body>
</html>